[program:galaxy-reports]
command         = {{ galaxy_venv_dir }}/bin/gunicorn 'galaxy.webapps.reports.fast_factory:factory()' --pythonpath lib -k uvicorn.workers.UvicornWorker
directory       = {{ galaxy_server_dir }}
process_name    = web
umask           = 022
autostart       = true
autorestart     = true
startsecs       = 10
stopwaitsecs    = 15
user            = {{ galaxy_user.name }}
environment     = HOME={{ ('~' ~ galaxy_user.name) | expanduser }},VIRTUAL_ENV={{ galaxy_venv_dir }},PATH={{ galaxy_venv_dir }}/bin:/usr/local/bin:/bin:/usr/bin:/usr/local/sbin:/usr/sbin:/sbin,GALAXY_REPORTS_CONFIG={{ galaxy_reports_config_file }}
stdout_logfile  = /var/log/supervisor/galaxy-reports.log
stdout_logfile_maxbytes = 128MB
stdout_logfile_backups = 30
redirect_stderr = true
