---

paths:
  - path: /corral/main/projects/Galaxy-PSU/dev/galaxy/var/tool-data
    path_types: unstructured
    action: rewrite
    source_directory: /corral/main/projects/Galaxy-PSU/dev/galaxy/var/tool-data
    destination_directory: /scratch1/08500/{{ tacc_user }}/tool-data
